<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nttiIT04</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<style>
  .navbar-inverse{
  background-color: white;
  border-color:white;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9d9d9d;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: yellow;
}
.navbar-inverse .navbar-brand {
  color:black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}
</style>
</head>

<body>
  {{> AppLayout}}
</body>


