body{
  position:relative
}
.overlay,.sideMenu{
  position:fixed;
  bottom:0
}
.overlay{
  top:0;left:-100%;
  right:100%;
  margin:auto;
  background-color:rgba(0,0,0,.4);
  z-index:998;
  transition:all ease 20ms
}
.sideMenu,.sidebarNavigation{
  z-index:999;
  margin-bottom:0
}
.overlay.open{
  left:0;right:0
}
.sidebarNavigation .left-navbar-toggle{
  float:left;
  margin-right:0;
  margin-left:15px
}
.sideMenu{
  left:-100%;
  top:52px;
  transition:all ease-in-out .4s;
  overflow:hidden;
  width:100%;
  max-width:50%
}
.sideMenu.open{
  left:0;
  display:block;
  overflow-y:auto
}
.sideMenu ul{
  margin:0
}
