<template name="AboutUs">
    <style>
        table {
          border-collapse: collapse;
        }
        
        table, td, th {
          border: 1px solid black;
        }
        </style>
    <table>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
        </tr>
        <tr>
          <td>Lois</td>
          <td>Griffin</td>
        </tr>
      </table>
</template>