<template name="TabBar">
    <nav class="navbar navbar-inverse sidebarNavigation" data-sidebarClass="navbar-inverse" style="background-color: yellow;border-color: yellow;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle left-navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color: yellow;">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar" ></span>                        
            </button>
            <a class="navbar-brand" href="#">NTTI News</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/Sport">Sport</a></li>
              <li><a href="#">Art</a></li>
              <li><a href="/AboutUs">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
      <!-- <script  src="sidebarNavigation.js"></script> -->
      <script>
    window.onload=function(){
        window.jQuery?
        $(document).ready(function(){
            $(".sidebarNavigation .navbar-collapse").hide().clone().appendTo("body").removeAttr("class").addClass("sideMenu").show(),
            $("body").append("<div class='overlay'></div>"),
            $(".navbar-toggle").on("click",function(){
                $(".sideMenu").addClass($(".sidebarNavigation").attr("data-sidebarClass")),
                $(".sideMenu, .overlay").toggleClass("open"),
                $(".overlay").on("click",function(){
                    $(this).removeClass("open"),
                    $(".sideMenu").removeClass("open")
                })
            }),
            $(window).resize(function(){
                $(".navbar-toggle").is(":hidden")?$(".sideMenu, .overlay").hide():$(".sideMenu, .overlay").show()
            })
            }):console.log("sidebarNavigation Requires jQuery")
        };
      </script>
</template>